aiohttp
archspec
astunparse
brotli
cairosvg
expecttest
fastwer
gmpy2
hydra-core
hypothesis
ipython
lightning
loguru
lxml
matplotlib
mkl-fft
mkl-random
moviepy
names
opencv-python
optree
pip-chill
platformdirs
pysocks
python-dotenv
rich
scikit-image
scikit-learn
termcolor
timm
toolz
torchaudio
torchelastic
torchinfo
triton
types-dataclasses
verovio
wand
wandb
wonderwords